<div class="col-sm-6 col-sm-offset-3 main-panel seny-panel">
    <div class="col-sm-8 col-sm-offset-6">
        <a class=" panel-link" ng-if="ad.product.owner == $root.user.owner" ng-href="#/advertisements"><h4 style="color:dodgerblue;display: inline;">Back to List</h4></a>
        <a class=" panel-link" ng-if="ad.product.owner != $root.user.owner" ng-href="#/home"><h4 style="color:dodgerblue;display: inline;">Back to List</h4></a>|
        <a class="panel-link" ng-if="ad.product.owner == $root.user.owner" ng-click="remove();">
            <h4 style="color:dodgerblue;display: inline;">Delete</h4>
        </a>
        <a class="panel-link" ng-href="#/response/{{ad.id}}" ng-if="ad.product.owner != $root.user.owner">
            <h4 style="color:dodgerblue;display: inline;">Respond</h4>
        </a>
        <a  class="panel-link" ng-if="ad.product.owner != $root.user.owner && ad.product.can_review == 1" ng-href="#/review/{{ad.product.id}}">
            <h4 style="color:dodgerblue;display: inline;">Review</h4>
        </a>
    </div>
    <div class="col-sm-12">
        <h2 class="col-sm-10">{{ad.product.title}} ({{SenyData.get_type(ad.type)}})</h2>
    </div>
    <label>Price:</label>
    <div class="well">
        {{ad.product.price | currency}} PER {{SenyData.get_metric(ad.product.price_metric)}} w/ {{SenyData.get_deposit(ad.product.deposit)}}
    </div>
    <label>When:</label>
    <div class="well">
        <span class="col-sm-6">start: {{ad.start | date : 'MM/dd/yyyy @ h:mma'}}</span>
        <span class="col-sm-6">end: {{ad.end | date : 'MM/dd/yyyy @ h:mma'}}</span>
    </div>
    <label>Description:</label>
    <div class="well white-space">{{ad.product.description}}</div>
    <label>Tags:</label>
    <div class="well">
        <span ng-repeat="tag in ad.product.tags" class="tag-container">
                <span ng-class="{'label label-default': true, 'tag-blue': $index % 3 == 0, 'tag-red': $index % 3 == 1, 'tag-purple': $index % 3 == 2}">
                    {{tag.text}}
                </span>,
        </span>
    </div>
    <div ng-show="ad.product.images.length > 0">
        <h3> <u>Images</u></h3>
        <carousel interval="5000">
            <slide ng-repeat="slide in slides" active="slide.active" style="height: 350px">
                <img ng-src="{{slide.image}}" style="margin: auto;" width="300px" height="300px">
                <div class="carousel-caption lime">
                    <h3> {{slide.title}} </h3>
                </div>
            </slide>
        </carousel>
    </div>
</div>