/* app css stylesheet */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.cadet {
    color: cadetblue;
}

.demo{
    width:50%;
    left:25%;
    right:25%;
    padding:10px 10px 10px 10px;
    position:absolute;
}

.demo-hidden{
    left:-75%;
}

.upload-drop-zone {
    height: 100px;
    border-width: 2px;
    margin-bottom: 10px;
    padding-top: 10px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    /*line-height: 100px;*/
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}
.signup, .topnav
{
    background-color: rgba(30, 44, 44, 0.8);
}
.tag-container
{
    color:lime;
    font-size: 20px;
}

.tag-purple
{
    background-color: purple;
    color: lime;
    font-size: 12px;
}

.tag-red
{
    background-color: firebrick;
    color: lime;
    font-size: 12px;

}

.tag-blue
{
    color: lime;
    font-size: 12px;
}
.main-panel{
    margin-top:100px;
}
.seny-panel
{
    background-color: rgba(30, 44, 44, 0.9);
    border-radius: 5px;
    /*margin-top: 10px;*/
    min-height: 250px;
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 5px 5px 15px -6px limegreen;
    -moz-box-shadow: 5px 5px 15px -6px limegreen;
    box-shadow: 5px 5px 15px -6px limegreen;
}

.select
{
    background: darkslategray;
    color: lime;
    border: 0px;
}

.messages
{
    background-color: rgba(30, 44, 44, 0.9);
    color: lime;
    border: 1px white;
}

.messages .panel {
    margin-bottom: 20px;
    background-color: rgba(30, 44, 44, 0.9);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.messages .panel-default>.panel-heading {
    color: lime;
    background-color: rgba(30, 44, 44, 0.9);
    border-color: #ddd;
}

.threads
{
    background: darkslategray;
    color: lime;
    border: 0px;
}

.threads span{
    font-size: 15px;
}

.message-heading{
    cursor: pointer;
}

.msg{
    font-size: 20px;
    color:#fff;
}

.new-msg{
    /*Use shadows to slowly build up the glow. The first shadow should be the colour of the text. Subsequent shadows are the colour you want the glow to be, all with no x or y offset and with increasing amounts of blur (the number of shadows you use depends on how big you want the glow to be).*/
    text-shadow:0 0 10px white, 0 0 20px white, 0 0 30px #92F060, 0 0 40px #8CE05E, 0 0 50px #6FE82E, 0 0 60px #6CF522, 0 0 70px #59FF00;
}

.badge
{
    border-radius: 1em;
}

.panel-default>.panel-heading .badge {
    color: black;
    background-color: lime;
}

.panel-default {
    border: 0px;
}

.panel {
    margin-bottom: 20px;
    background-color: darkslategray;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default>.panel-heading {
    color: lime;
    background-color: darkslategray;
    border-color: #ddd;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: darkslategray;
}

.well {
    color: lime;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background: rgba(30, 50, 44, 0.8);
    border: 1px solid #3e8f3e;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.white-space{
    white-space: pre-wrap;
}

.list-group-item {
    overflow: hidden;
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: -1px;
    background-color: #2F4F4F;
    border: 2px dashed rgba(30, 44, 44, 0.8);
}



.share
{
    float: right;
}

.seny-panel h1, h2, h3, h4, h5, label
{
    color: lime;
}

.seny-panel p, div, ul, li
{
    color:cadetblue;
}

.panel-link
{
    color:lime;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.panel-link:hover
{
    color:#337ab7;
    text-decoration: underline;
}

.row
{
    margin-left: 5px;
    margin-right: 5px;
}

.content
{
    /*background-color: darkslategrey;*/
    margin: 20px;
    height: 90%;
    color: #000000;
    font-family: 'Gloria Hallelujah', cursive;
}
.authorized
{
    background-color: darkslategray;
}

.not_authorized
{
    background-image: url('img/collage.jpg');
    background-size: 50%;
}
.lime
{
    color: lime;
    font-family: 'Gloria Hallelujah', cursive;
}

.bottom-margin
{
    margin-bottom: 20px;
}

.right-ad
{
    position: absolute;
    right:0px;
    font-size: 12px;
}

.left
{
    float: left;
}

.advertisement_element
{
    border: 0px;
    /*margin-top: 10px;*/
    min-height: 75px;
}

.title
{
    font-family: 'Gloria Hallelujah', cursive;
    color: lime;
    font-size: 20px;
}

.collage
{
    background-image: url('img/collage.jpg');background-size:50%;
}

.brand
{
    color: lime;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    /*margin-bottom: -20%;*/
}

.btn-logout
{
    position: absolute;
    top: 99%;
    right: 1%;
}

.layout-icon
{
    font-size: 20px;
    color: #888888;
}

.drop-down{
    background-color: darkslategray;
    font-family: 'Gloria Hallelujah', cursive;

}

.drop-down>li>a
{
    color: #ffffff;
}

/*.navbar*/
/*{*/
    /*position: relative;*/
    /*min-height: 50px;*/
    /*margin-bottom: 20px;*/
    /*border: 0px solid transparent;*/
    /*box-shadow: 0 4px 4px -4px lime;*/
/*}*/

.dropdown-header
{
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: lime;
    white-space: nowrap;
}

.signup h2
{
    color: lime;
    font-family: 'Gloria Hallelujah', cursive;
}

.username
{
    position: absolute;
    top: 1%;
    right: 1%;
}
.signup, .login
{
    color: darkgray;
}



.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
