<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="SENY" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="SENY" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="SENY" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="SENY" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SENY</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<body ng-class="{'not_authorized': !$root.authorized, 'authorized': $root.authorized}">
    <nav class="navbar navbar-default topnav navbar-fixed-top">
        <div class="container-fluid col-sm-12">
            <ul class="nav navbar-nav navbar-left" role="menu" style="margin-top: 5px;margin-bottom: -5px;">
                <li class="dropdown">
                    <span href="#" class="brand dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        SENY <span class="caret"></span>
                    </span>
                    <ul class="dropdown-menu drop-down">
                        <li class="dropdown-header">General</li>
                        <li> <a href="#/home">Find Deals</a></li>
                        <li class="dropdown-header lime">Your Stuff</li>
                        <li> <a href="#/products">Products</a></li>
                        <li><a href="#/advertisements">Advertisements</a> </li>
                        <li><a href="#/products/reviewable">Pending Reviews</a></li>
                        <li><a href="#/responses">Pending Responses</a></li>
                        <li><a href="#/reviews">Your Reviews</a></li>
                        <li><a href="#/advertisements/active">Recent Rentals</a></li>
                    </ul>
                </li>
            </ul>
            <div ng-if="$root.authorized" class="col-sm-1 navbar-text" ng-controller="inboxPollController">
                <a ng-href="#/inbox">
                    <!--<div class="glyphicon-envelope layout-icon" aria-hidden="true"></div>-->
                    <span ng-class="{'new-msg': $root.new_messages, 'msg':true}">Inbox</span>
                </a>
            </div>
            <div class="navbar-right">
                <div ng-if="!$root.authorized" ng-include="'LoginView/LoginView.html'"></div>
                <div ng-if="$root.authorized" class="title username" ng-controller="logoutController">
                    Logged in: <a ng-href="#/profile/{{$root.user.owner}}">{{ $root.user.owner }}</a>
                    <button class="btn btn-primary btn-logout btn-xs" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </nav>
    <div style="position:fixed; top:20%;" ng-controller="statusController">
        <div class="alert alert-{{status.type}} alert-dismissible seny-status" role="alert" style="width:200px;"
             ng-repeat="status in statusService.statuses">
            <button type="button" class="close" ng-click="statusService.remove($index)">
                <strong><span aria-hidden="true">X</span></strong>
            </button>
            {{status.text}}
        </div>
    </div>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-if="$root.authorized" ng-view></div>
  <div ng-if="!$root.authorized">
      <div ng-include="'signup/signup.html'"></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script>
        $(function(){
            if($.noblock == undefined)
            {
                alert("Please disable your ad blocker and reload the page.");
            }
        })
    </script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="LoginView/LoginView.js"></script>
  <script src="services.js"></script>
  <script src="home/home.js"></script>
  <script src="signup/signup.js"></script>
  <script src="profile/profile.js"></script>
  <script src="advertisement/advertisement.js"></script>
  <script src="image/image.js"></script>
  <script src="product/product.js"></script>
  <script src="message/message.js"></script>
  <script src="response/response.js"></script>
  <script src="review/review.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/angular-cookie/angular-cookie.min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js"> </script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
  <script>window.FileAPI = { staticPath: 'bower_components/FileAPI/dist/' };</script>
  <script src="bower_components/FileAPI/dist/jquery.fileapi.min.js"></script>
</body>
</html>
