<div class="seny-panel col-sm-8 col-sm-offset-2">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <button class="btn btn-primary" ng-click="new_msg()">Compose</button>
        </div>
        <div class="col-sm-4">
            <input type="search" class="form-control" placeholder="Search"/>
        </div>
    </div>
    <hr class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-12">
        <accordion close-others="true" class="threads">
            <accordion-group ng-repeat="thread in threads">
                <accordion-heading>
                    <span ng-click="opened($index)">
                        <span class="pull-left">
                            <span ng-if="thread.new_messages > 0" class="badge label label-success">{{thread.new_messages}}</span>
                            <span ng-if="thread.creator == $root.user.owner">{{thread.responder}}</span>
                            <span ng-if="thread.creator != $root.user.owner">{{thread.creator}}</span>
                        </span>
                        <span class="" style="margin-left:25%">{{thread.title.slice(0, 75)}}</span>
                        <span class="pull-right" ng-if="thread.messages.length > 0">
                            {{convertDate(thread.messages[thread.messages.length - 1].created_at)}}
                        </span>
                        <span class="pull-right" ng-if="thread.messages.length == 0">
                            {{convertDate(thread.created_at)}}
                        </span>
                    </span>
                </accordion-heading>
                <accordion close-others="false" class="messages">
                    <accordion-group ng-repeat="message in thread.messages">
                        <accordion-heading>
                            <span>{{message.source}}</span>
                            <span style="margin-left: 25%">{{message.content.slice(0,50)}}</span>
                            <span class="pull-right">{{convertDate(message.created_at)}}</span>
                        </accordion-heading>
                        <div class="well">
                            <div>
                                {{message.content}}
                            </div>
                            <div ng-if="message.response">
                                <hr style="width: 100%;">
                                <h5>
                                    Advertisement Response:
                                </h5>
                                <button class="btn btn-sm btn-primary" ng-click="view_ad(message.response.advertisement)">View Advertisement</button>
                                <button class="btn btn-sm btn-success" ng-if="message.response.advertisement_owner == $root.user.owner" ng-click="accept_response(message.response.id)">
                                    Accept
                                </button>
                            </div>
                        </div>
                        <div ng-if="message.destination == $root.user.owner">
                            <button class="btn btn-sm btn-success pull-right" ng-click="reply(thread.id)">Reply</button>
                        </div>
                    </accordion-group>
                </accordion>
                <button class="btn btn-sm btn-success pull-right" ng-click="reply(thread.id)">Reply</button>
            </accordion-group>
        </accordion>
    </div>

</div>