<div class="seny-panel col-sm-8 col-sm-offset-2 main-panel">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <button class="btn btn-primary" ng-click="new_msg()">Compose</button>
        </div>
        <div class="col-sm-4">
            <input type="search" class="form-control" placeholder="Search"/>
        </div>
    </div>
    <hr class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-12">
        <accordion close-others="true" class="threads">
            <accordion-group ng-repeat="thread in threads">
                <accordion-heading>
                    <span ng-click="opened($index)" class="message-heading">
                        <span class="pull-left">
                            <span ng-if="thread.new_messages > 0 && thread.messages[thread.messages.length - 1].source != $root.user.owner" class="badge label label-success">
                                {{thread.new_messages}}
                            </span>
                            <span ng-if="thread.creator == $root.user.owner">{{thread.responder}}</span>
                            <span ng-if="thread.creator != $root.user.owner">{{thread.creator}}</span>
                        </span>
                        <span class="" style="margin-left:25%">{{thread.title.slice(0, 40)}}</span>
                        <span class="pull-right" ng-if="thread.messages.length > 0">
                            {{convertDate(thread.messages[thread.messages.length - 1].created_at)}}
                        </span>
                        <span class="pull-right" ng-if="thread.messages.length == 0">
                            {{convertDate(thread.created_at)}}
                        </span>
                    </span>
                </accordion-heading>
                <accordion close-others="false" class="messages">
                    <accordion-group ng-repeat="message in thread.messages">
                        <accordion-heading>
                            <span class="message-heading">
                                <span ng-if="message.response" class="glyphicon glyphicon-dashboard"></span>
                                <span>{{message.source}}</span>
                                <span style="margin-left: 25%">{{message.content.slice(0,30)}}...</span>
                                <span class="pull-right">{{convertDate(message.created_at)}}</span>
                            </span>

                        </accordion-heading>
                        <div class="well col-sm-12">
                            <div class="col-sm-12 row">
                                {{message.content}}
                            </div>
                            <div ng-if="message.response" class='col-sm-12 row'>
                                <hr class="col-sm-12">
                                <div class="col-sm-12 row">
                                    <label class="col-sm-4">
                                        Advertisement Response:
                                    </label>
                                    <div class="col-sm-8">
                                        <button class="btn btn-sm btn-primary" ng-click="view_ad(message.response.advertisement)">View Advertisement</button>
                                        <button class="btn btn-sm btn-success" ng-if="message.response.advertisement_owner == $root.user.owner" ng-click="accept_response(message)">
                                            Accept
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-12 row">
                                    <label class='col-sm-2'>Deadline:</label>
                                    <div class="col-sm-8">
                                        {{convertDate(message.response.deadline)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="message.destination == $root.user.owner">
                            <button class="btn btn-sm btn-success pull-right" ng-click="reply(thread.id)">Reply</button>
                        </div>
                    </accordion-group>
                </accordion>
                <button class="btn btn-sm btn-success pull-right" ng-click="reply(thread.id)">Reply</button>
            </accordion-group>
        </accordion>
    </div>

</div>