<div class="seny-panel main-panel col-sm-8 col-sm-offset-2">
    <div ng-if="reviews.length">
        <h2>Reviews</h2>
        <hr/>
    </div>
    <div ng-if="!reviews.length" style="margin-top:10%; margin-left: 10%;">
        <h2>You have no reviews...</h2>
        <p>Post some advertisements to get reviews!</p>
    </div>
    <accordion close-others="true" class="select">
        <accordion-group ng-repeat="review in reviews">
            <accordion-heading>
                <span class="message-heading">
                    <span class="thread-preview pull-left">{{review.title.slice(0,25)}}</span>
                    <span class="thread-preview">{{review.content.slice(0,20)}}...</span>
                    <span ng-if="review.owner != $root.user.owner" class="thread-preview pull-right">
                        {{review.owner}}
                    </span>
                    <span ng-if="review.owner == $root.user.owner" class="thread-preview pull-right">
                        {{review.product_owner}}
                    </span>
                </span>
            </accordion-heading>
            <h3>
                {{review.title}}
            </h3>
            <div class="well">
                <div>{{review.content}}</div>
            </div>
            <a ng-if="review.owner != $root.user.owner" class="pull-left panel-link" ng-href="#/user/{{review.owner}}">
                View {{review.owner}}'s profile
            </a>
            <a ng-if="review.owner == $root.user.owner" class="pull-left panel-link" ng-href="#/user/{{review.product_owner}}">
                View {{review.product_owner}}'s profile
            </a>
        </accordion-group>
    </accordion>
</div>