<form ng-controller="signupController" class="">
    <div class="form-group row">
        <div class="col-md-8 col-md-offset-2">
            <label>
                Username
            </label>
            <input ng-required="true" type="text" ng-model="username" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8 col-md-offset-2">
            <label>
                Email
            </label>
            <input ng-required="true" type="email" ng-model="email" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8 col-md-offset-2">
            <label>Password</label>
            <input ng-required="true" type="password" ng-model="password" class="form-control">
        </div>
    </div>
    <div class="row bottom-margin">
        <div class="col-md-8 col-md-offset-2">
            <button ng-click="signup()" type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
</form>
